/* if you want to full screen display then change bottom to 40px*/
.menus{
    position: absolute;
    width: 100%;
    bottom: 0;
    height:60px;
    background-color: rgba(0, 0, 0, .2);
}

.menus .icnBundel{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.callbook, .setting, .messagebook, .home, .camera{
    height: 42px;
    width: 42px;

    background-color: rgb(228, 228, 228);
    border-radius: 10px;
}

.dateAndTime{
    height: 140px;
    width: 100%;
    margin-top: 40px;
}

.dateAndTime {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.showDateTime,
.showWedtherInfo {
    height: 140px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.showWedtherInfo {
    flex-grow: 1;
}

.showTime,
.showDate {
    height: 60px;
    font-size: 40px;
    font-weight: 700;
    font-family: fantasy;
    padding: 10px;
}

.showDate {
    height: 20px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
}

.mainWedtherInfoIcn,
.WedtherDetail,
.wedtherTemp {
    height: 50px;
    width: 100%;
    text-align: right;
}

.WedtherDetail,
.wedtherTemp {
    height: 30px;
    font-weight: 700;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}

.wedtherTemp {
    height: 20px;
    font-weight: 500;
    font-size: 15px;
}

.wedtherIcn {
    margin-right: 10px;
    margin-top: 5px;
    font-size: 45px;
    float: right;
}

#condition,
#temparature,
#hase {
    padding-right: 10px;
}
