.innerFrame{
    background-image: url('https://wallpaper.dog/large/10925777.jpg');
}

.mainScreen{
    position: absolute;
    height: 616px;
    width: 310px;

    
}

.defaultManuBar{
    position:absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.menubar{
    position: absolute;
    height: 50px;
    width: 300px;
    padding: 5px;
    display: flex;
    justify-content:space-around;
}

.menubar .icnbox{
    position: relative;
    height: 42px;
    width: 42px;
    margin: 5px;

    background-color: rgb(0, 255, 200);
    border-radius: 10px;
}

.menubar .icnbox i{
    width: 100%;
    text-align: center;
    color: white
}

.backnevbar{
    position: absolute;
    height: 40px;
    width: 100%;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.5);
}

.backnevbar .fundamentalAss{
    margin: 10px;
    display: flex;
    justify-content:space-around;
    color: aliceblue;
}

.showAllScreen, .goToHome, .back{
    height: 25px;
    width: 25px;
    text-align: center;
    
}
